body{
    margin: 0%;
    background-color: grey;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
#nav--bar h1{
    text-align: center;
}
#formContent{
    display: flex;
    justify-content: space-evenly;
    background-color: rgb(168, 157, 142);
    width: 30%;
    border-radius: 20px;
    margin-top: 2rem;
    box-shadow: 5px 5px 5px rgb(119, 107, 107);
}
@media(max-width: 700px) {
    #formContent{
        width: 80%;
    }
}
@media(min-width:700) and (max-width:900){
    #formContent{
        width: 60%;
    }
}
#taskForm{
    display: flex;
    flex-direction: column;
    width: 80rem;
    justify-content: center;
    align-items: center;
    overflow: inherit;
}
#taskForm button{
    margin-top: 1rem;
    margin-bottom: 1rem;
    width: 30%;
    height: 2rem;
}
#addTaskDiv{
    margin-top: 1rem;
    width: 100%;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
#imp{
    margin: 1rem;
}
#addTaskDiv button{
    width: 8rem;
    height: 3rem;
    margin: 2rem;
    border-radius: 20px;
    border: 0px solid transparent;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.5);
}
#addTask:hover{
    cursor: pointer;
    box-shadow: 2px 0px 3px  rgba(0,0,0,0.3);
    translate:2px;
}
#addProject:hover{
    cursor: pointer;
    box-shadow: 2px 0px 3px  rgba(0,0,0,0.3);
    translate:2px;
}
button:hover{
    cursor: pointer;
}
#main{
    background-color: rgb(247, 217, 179);
    margin: 2rem;
    border-radius: 20px;
}
@media(min-width:600px) {
    #main{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}
#addedTasks{
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-style: italic;
}
#addedForms{
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-style: italic;
}
@media(min-width:800px){
    #addedTasks{
        width: 50%;
    }
    #addedForms{
        width: 50%;
    }
}
#userTask{
    background-color: burlywood;
    margin: 15px;
    padding: 20px;
    box-shadow: 2px 3px 6px  rgba(0,0,0,1);
    border: 2px dotted grey;
}
#userProject{
    background-color: blanchedalmond;
    margin: 15px;
    padding: 20px;
    box-shadow: 2px 3px 6px  rgba(0,0,0,1);
    border: 2px dotted grey;
}
#userTask h3{
    display: block;
}
#addTask{
    color: black;
}
header{
    width: 100%;
    height: 60px;
    margin-top: 0px;
    background-color: brown;
}
#main button{
    padding: 6px;
    border-radius: 5px;
    border: 0px solid transparent;
    box-shadow: 2px 3px 3px  rgba(0,0,0,0.3);
}#main h1{
    text-align: center;
}
#deleteTaskButton:hover{
    cursor: pointer;
    box-shadow: 2px 0px 3px  rgba(0,0,0,0.3);
    translate:1px;
}
#deleteProjectButton:hover{
    cursor: pointer;
    box-shadow: 2px 0px 3px  rgba(0,0,0,0.3);
    translate:1px;
}